# Package Validation Report

- generated_utc: `2026-04-07T21:57:21Z`

| Path | Size (bytes) | SHA256 | Members | Contains .env | Contains logs |
| --- | ---: | --- | ---: | --- | --- |
| `artifacts/mertformer_release.zip` | `105094399` | `ed9bb5270f9d98056b30d99588bfe3c57024ca4ee8bd3e4193245c6e06cbd2ce` | `884` | `false` | `false` |
| `artifacts/target_machine_handoff_bundle.zip` | `27563` | `5a159da2d977af4c73982899b7a072b9161dccc7b2dc3fd86d4e4cbb5a34ad0c` | `14` | `false` | `false` |
| `packages/MertFormer_Titan_OnyxStorm_v2.0_B30_Release.zip` | `51741089` | `a66a8f627f92b34f41413aceb22be559901e7dd4db27c11d202f81382571d9a3` | `861` | `false` | `false` |
