# Package Validation Report

- generated_utc: `2026-03-31T20:59:49Z`

| Path | Size (bytes) | SHA256 | Members | Contains .env | Contains logs |
| --- | ---: | --- | ---: | --- | --- |
| `artifacts/mertformer_release.zip` | `104528470` | `fcb0482357496aee153d59fea4b871dc2ea02ca27eeb3c38084d75b238f217c9` | `826` | `false` | `false` |
| `packages/MertFormer_Titan_OnyxStorm_v2.0_B30_Release.zip` | `51475286` | `6ecde64efd1ac0b51a2ab7eb1d23b078b1005db4c1f4337c4f25cc67b70060c7` | `806` | `false` | `false` |
