# Package Validation Report

- generated_utc: `2026-04-14T22:29:15Z`

| Path | Size (bytes) | SHA256 | Members | Contains .env | Contains logs |
| --- | ---: | --- | ---: | --- | --- |
| `artifacts/mertformer_release.zip` | `105616725` | `0dcce2e5743f86cc23965e4da93f33341163db213b66c126ab0df8ca247df09e` | `961` | `false` | `false` |
| `artifacts/target_machine_handoff_bundle.zip` | `27599` | `99bdbe06a27197dab2eff96278a4c28d4f3a6a05507532bfcfc856bdbfe5a9a8` | `14` | `false` | `false` |
| `packages/MertFormer_Titan_OnyxStorm_v2.0_B30_Release.zip` | `52004987` | `8912662b8dac39dab769b0155a35e15ad6666b5e94d3e6a4b836b44327ae81c1` | `938` | `false` | `false` |
